body{
    background: pink;
    margin: 0;
}
header{
    background: palevioletred;
    padding: 5px;
}
header h1{
    margin: 10px;
}
.BC{
    font-family: "Indie Flower";
    width: 600px;
    margin: auto;
}
.container{
    font-family: "Indie Flower";
    width: 600px;
    margin: auto;
}
.post{
    background: palevioletred;
}
#first{
    display: flex;
    position: relative;
    margin: 20px;   
    margin-bottom: 0; 
    margin-left: 0;
    margin-right: 10px;
}
#first p{
    color: blueviolet;
    width: 20%;
    text-align: end;
    margin: 0; 
    position: absolute;
    bottom: -10px;
    right: 0;
}
.post h2{
    width: 80%;
    margin: 10px;
}
.post img{
    width: 100%;
}
.post p{
    margin: 10px;
    padding-bottom: 15px;
    text-align: justify;
}


